<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saramin Jobs</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <h1>Saramin Jobs</h1>

    {% if joblist %}
    <div class="job-grid">
        {% for job in joblist %}
        <div class="job-card">
            <div class="inline-block">
                <h2 class="title">{{ job[1] }}</h2>
                <span class="subtitle">
                    {% if job[2] is not none %}• {{ job[2] }}{% endif %}
                    {% if job[3] is not none %}• {{ job[3] }}{% endif %} 
                    {% if job[4] is not none %}• {{ job[4] }}{% endif %}
                </span>
            </div>
            <h3 class="title">
                <a href="{{ job[6] }}" target="_blank" class="job-link">{{ job[5] }}</a>
            </h3>
            <p class="details">• {{ job[7] }}</p>
            <p class="details">⚑ {{ job[9] }}</p>
            <p class="details">
                ⚇ <span>{{ job[10] }}</span>
                <span class="spaced1">• {{ job[13] }}</span>
            </p>
            <p class="details">
                ⚲ <span>{{ job[11] }}</span>
                <span class="spaced2">• {{ job[14] }}</span>
            </p>
            <p class="badge">{% if job[8] is not none %}{{ job[8] }}{% endif %}</p>
            <div class="apply-button">
                <a href="{{ job[6] }}" target="_blank">Apply Now</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No job data available</p>
    {% endif %}

    <!-- 페이지네이션 -->
    <div class="pagination">
        {% if current_range_start > 1 %}
            <a href="/?page={{ current_range_start - 1 }}">Previous</a>
        {% else %}
            <a class="disabled">Previous</a>
        {% endif %}

        {% for page in range(current_range_start, current_range_end + 1) %}
            <a href="/?page={{ page }}" class="{% if page == current_page %}active{% endif %}">{{ page }}</a>
        {% endfor %}

        {% if current_range_end < total_pages %}
            <a href="/?page={{ current_range_end + 1 }}">Next</a>
        {% else %}
            <a class="disabled">Next</a>
        {% endif %}
    </div>
</body>
</html>
